# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Build output
build/
out/
build/*
.cache/*
*.env

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeUserPresets.json
CMakePresets.json


# Visual Studio
.vs/
*.suo
*.pdb
*.ilk

#extensions
*.cppcheck
*.scor
compileData.scor.gbl
compileData.scor.t0000

CompileScoreSettings.json


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

